body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    margin-top: 10vh;
    margin-bottom: 10vh;
    flex: 3;
}

#result {
    border: 1px dashed blue;
    display: none;
    h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        background-color: yellowgreen;
        color: black;
    }

    span {
        margin-bottom: 2rem;
    }
}