$first: #bbfa0c;
$first-dark: #4b4605;
$first-light: #fafd26;

$second: #5bad24;
$second-dark: #033103;
$second-light: #36f806;

$third: rgb(212, 54, 54);
$third-dark: rgb(241, 121, 121);
$third-light: rgb(97, 3, 3);

$fourth: rgb(21, 21, 121);
$fourth-dark: rgb(88, 88, 224);
$fourth-light: rgb(10, 10, 170);

$light: white;
$dark: black;